.header-wrap{
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
}


/* .logo{
    height: 800px;
    width: 100%;
    background-color: aliceblue;
    background-image: url("../../../public/main.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: none;
    margin: 0 auto;
    } */


/* nav style */
nav{
    width: 80%;
    margin-left: auto;
    padding: 0;
}
nav ul {
    /* border:1px solid; */
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
}

nav ul li{
    list-style-type: none;
    margin: 0 16px;
}

/* seach box */
.header-seach-wrapper{
    font-size: 0.9rem;
    box-shadow: var(--shadow-mid);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 4px 10px;
    margin: 10px auto;
}
.header-seach-icon{
    display: flex;
    padding: 6px;
}
.header-seach-wrapper div{
    padding-left: 12px;
    line-height: 0;
    flex:1;
  
    /* border:var(--text-border) */
}
.header-seach-wrapper div p{
    font-size: 0.8rem;
}

.header-seach-slide{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: var(--light-text);
    box-shadow: var(--shadow-solid);
}