.header-wrap{
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    /* display: flex;
    align-items: center;
    justify-content: flex-end; */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
    align-items: center;

    border:1px solid rgb(147, 38, 38);
}

.user-ui{
    /* height: 40px; */
    width: 100px;
    display: flex;
    justify-content: space-around;
    box-shadow: var(--shadow-solid);
    margin-left: auto;
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
}

/* seach box small screen */
.header-seach-wrapper{
    font-size: 1rem;
    box-shadow: var(--shadow-mid);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 4px 10px;
    margin: 8px auto;
    
}
.header-seach-icon{
    display: flex;
    padding: 6px;
}
.header-seach-wrapper div{
    padding-left: 12px;
    line-height: 0;
    flex:1;
  
    /* border:var(--text-border) */
}
.header-seach-wrapper div p{
    font-size: 0.8rem;
}

.header-seach-slide{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: var(--light-text);
    box-shadow: var(--shadow-solid);
    cursor: pointer;
}
/* wide screen ***********/
.seach-wrapper{
    font-size: 1rem;
    box-shadow: var(--shadow-mid);
    display: flex;
    /* align-items: center;
    justify-content: center; */
    border-radius: 30px;
    padding: 6px 4px;
    width: 70%;
    margin: 10px auto;
  
    /* margin-left: auto; */

}
.seach-wrapper input{
    width: 80%;
    border: none;
    margin-left: auto;
    outline: none;
    font-size: 1.1rem;
}

.nav-seach-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--light-text);
    box-shadow: var(--shadow-solid);
    border-radius: 50%;
    background-color: var(--brand-primary-color);
    margin-left: auto;
   
}
/* media query */
@media (min-width: 550px) {
  
  }
  
  @media (min-width: 750px) {
    .header-wrap {
      width: 100%;

    }
    /* .seach-wrapper{
        width: 50%;
    } */
  }
  @media (min-width: 1150px) {
    .header-wrap {
      width: 90%;
    
    }
        /* .seach-wrapper{
        width: 80%;
    } */
   
  }